.page {
  background: #F5F6F9;
  min-height: 100vh;

  .page-background {
    width: 100%;
    position: fixed;  
  }

  .page-container {
    position: relative;
    padding: 8px;
  }

  .safe-top {
    height: 18px;
  }
  .safe-bottom {
    height: 100px;
  }
}
