.group-list {
  min-height: 100vh;
  background: #F5F6F9;

  &-empty {
    width: 100%;
    padding-top: 140px;

    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    &-icon {
      width: 100px;
      height: 100px;
    }

    &-text {
      margin-top: 14px;
      font-weight: 500;
      font-size: 24px;
      line-height: 34px;
      color: #999999;
    }

    &-btn {
      margin: 30px 20px 0;
    }
  }

  .card + .card {
    margin-top: 8px;
  }

  &-scroll {
    height: 100vh;
    padding-top: 8px;
    padding-bottom: 83px;
    box-sizing: border-box;

    &-footer {
      padding: 16px;
      text-align: center;
      color: #999999;
      font-size: 12px;
      line-height: 16px;
    }
  }

  .group-card {
    margin-left: 8px;
    margin-right: 8px;
    
    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-left {
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        color: #1F1F1F;
      }

      &-right {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #666666;
      }
    }

    &-content {
      &-item {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #666666;
        margin-top: 10px;
      }
    }
  }
}